[Desktop Entry]
Version=1.1
Type=Application
Name=Paper Minecraft
Comment=Paper Minecraft by griffpatch on Scratch
Icon=/home/pi/Pictures/Icons/mc2d.jpeg
Exec=/home/pi/Documents/Programs/PaperMinecraft-RPI/nw --use-gl=egl --ignore-gpu-blacklist --disable-accelerated-2d-canvas --num-raster-threads=4
Categories=Game;
Terminal=false
StartupNotify=true
